html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body::-webkit-scrollbar, .w-toc__content::-webkit-scrollbar {
  height: 6px;
  width: 12px;
}
body::-webkit-scrollbar-thumb, .w-toc__content::-webkit-scrollbar-thumb {
  background: #9aa0a6;
  background-clip: padding-box;
  border: 1.5px solid transparent;
  border-radius: 3px;
}
main{
  flex-grow:1;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --header-bg-color: #2f5394;
  --card-bg-color: #2f5394;
  --font-primary-color: #dacaca;
  --font-secundary-color: #dacaca;
  --main-bg-color: steelblue;
}