.main{
    text-align: center;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postContainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: fit-content(300px);
    place-content: center;
}
