.post{
    display: flex;
    width: 300px;
    flex-direction: column;
    align-self: flex-start;
    max-height: 300px;
    border: 3px solid #9da8c7;
    border-radius: 15px;
    color: var(--font-secundary-color);
    background-color: var(--card-bg-color);
    overflow-y: auto;
    overflow-wrap: break-word;
}
/* .post [contentEditable=true]:empty:not(:focus):before{
    content:attr(placeholder)
} */
.post > p{
    overflow-y: scroll;
}


.Footer{
    display: flex;
    justify-content: flex-end;
}
.Header{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.Header > h1 {
    display: block;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}
.Header > .likes {
    position: absolute;
    left: 10px;
    align-self: center;
}
.Header > .likes > p{
    margin: 0px;
    text-align: center;
}
.Header > .likes > svg{
    width: 1.2em;
    height: 1.2em;
}
.Header > .Pin {
    position: absolute;
    right: 10px;
    width: 1.5em;
    height: 1.5em;
    margin-top: 10px;
}
.Header svg{
    cursor: pointer
}


.post > p::-webkit-scrollbar, .w-toc__content::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}
.post > p::-webkit-scrollbar-thumb, .w-toc__content::-webkit-scrollbar-thumb {
    background: #9aa0a6;
    background-clip: padding-box;
    border: 1.5px solid transparent;
    border-radius: 3px;
}
