.postForm{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.formFooter {
    margin-top: 19px;
    align-self: center;
}
.formFooter > button{
    cursor: pointer;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    align-self: center;
}