.formContainer{
    background-color: #2f5394;
    width: min(50vh,50vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    border: solid;
    border-radius: 20px;
}
.icon{
    align-self: center;
    width: 30px;
    height: 30px;
}
.input {
    width: 90%;
}
.rowInput {
    display: flex;
    justify-content: space-between;
}
.inputContainer > * + * {
    margin-top: 2em;
}
.inputContainer{
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
.input, .submit{
    border: none;
    height: 4em;
    border-radius: 8px;
    outline: none;
}
.submit{
    cursor: pointer;
    border: solid;
}
@media screen and (max-width: 800px) {
    .formContainer{
    width: max(50vh,50vw);
    }
}